 .epoca{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px auto;
}
.epoca2{
    width: 400px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 80px auto;
}

.text{
    width: 180px;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    background-color: rgb(235, 235, 235);
    color: rgb(28, 28, 28);
    
}
.bola{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 50px;
    transform: translateX(-50%);

}
.img{
    width: 180px;
}
.img img{
    border-radius: 20px;
    width: 100%;
}