.linhaTempo{
    position: relative;
    margin-top: 50px;
}
.linhaTempo .linha{
    width: 10px;
    height: 85%;
    background-color: #202020;
    position: absolute;
    left: 50%;
    top:50px;
    transform: translateX(-50%);
    margin-top: 50px;
}
